<!doctype html>
<html lang="en">
    <head>
        <meta
            charset="utf-8"
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Roberto Castellotti</title>
        <meta name="title" content="Roberto Castellotti's website" />
        <meta
            name="description"
            content="Roberto Castellotti — Software Engineer at Guardsquare in Leuven, BE. CS grad from UniGE & TUM dropout. Hacker mindset, NixOS enthusiast, and professional disassembler of things."
        />
        <meta property="og:image" content="/public/ciambe.jpg" />
        <link rel="stylesheet" href="/css/style.css" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/public/apple-touch-icon.png"
        />
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
        <link rel="icon" href="/public/ciambe.jpg" type="image/jpg" />
        <link rel="canonical" href="https://rcastellotti.dev/" />
    </head>
    <body>
        <nav>
            <a href="/">/home/</a>
            <a href="/posts">/posts/</a>
        </nav>
        {{ block "main" . }}{{ end }}
    </body>
</html>
