{{ define "main" }}
<link rel="stylesheet" href="/css/style.css" />
<img id="propic" src="/images/propic.jpeg" alt="propic" />
<div id="links">
  <a href="https://g.rcastellotti.dev/rc">/wrk/</a>
  <a href="https://github.com/rcastellotti">/gh/</a>
  <a href="https://t.me/rcastellotti">/tg/</a>
  <a href="mailto:me@rcastellotti.dev">/email/</a>
</div>
<p>NOW: learning to keep prod up with nixOS ／ʕ •ᴥ•ʔ／</p>
<p>
  Hi, I am Roberto Castellotti, straight outta
  <a href="https://www.google.com/maps/place/Genoa">Genova, IT.</a> In 2022 I graduated in
  <a href="https://corsi.unige.it/8759">Computer Science</a> at <a href="https://unige.it">UniGE</a> and enrolled in a
  Master a in Informatik at <a href="https://tum.de">TUM</a>. A couple exams from the end I dropped out (ask me how I
  feel about this). I am currently a Software Engineer at <a href="https://guardsquare.com">Guardsquare</a> in
  <a href="https://www.google.com/maps/place/Leuven">Leuven, BE</a>.
</p>
<p>
  I am always disassemblying whatever I can put my hands on to understand what's happening and why, since I simply
  cannot accept
  <em>"It Works"</em>. You know, the <a href="https://stallman.org/articles/on-hacking.html"> hacker </a> way.
</p>
<p>I love computers, a couple of humans, and bears. 🐻🏴‍☠️🤍</p>
<small>we'll build creuza de hacker, dw :)</small>
{{ end }}
